$spanish-gray: hsl(0, 0%, 60%);
$sonic-silver: hsl(0, 0%, 47%);
$eerie-black: hsl(0, 0%, 13%);
$salmon-pink: hsl(353, 100%, 78%);
$sandy-brown: hsl(29, 90%, 65%);
$bittersweet: hsl(0, 100%, 70%);
$ocean-green: hsl(152, 51%, 52%);
$davys-gray: hsl(0, 0%, 33%);
$cultured: hsl(0, 0%, 93%);
$white: hsl(0, 100%, 100%);
$onyx: hsl(0, 0%, 27%);

@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin laptop{
    @media screen and (max-width: 1200px){
        @content;
    }
}

.navbar{
    height: 70px;
    
    .container{
        display: flex;
        align-items: center;
        justify-content:space-between;
        max-width: 1100px;
        margin:0px auto;
        padding: 12px 20px;
        @include mobile{
            padding: 10px 15px;
        }

        .left{ 
            h1{
                font-family: 'Righteous', cursive;;
            }
            @include mobile{
                width: 100%;
                text-align: center;
            }
        }

        .center{
           display: flex;
           gap: 40px;
           font-weight: bold;
           text-transform: uppercase;
           font-size: 17px;
           color: $davys-gray;
           @include mobile{
              display: none;
           }

           .item{
            cursor: pointer;
           }
        }

        .right{
            display: flex;
            gap: 20px;

            .fav,.profile,.cart{
                font-size: 30px;
                cursor: pointer;
            }

            .cart-Icon,.fav-Icon{
                position: relative;
                span{
                    font-size: 14px;
                    font-weight: bold;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    color: white;
                    background-color:$salmon-pink;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -7px;
                    right: -8px;
                }
            }
            @include mobile{
                display: none;
            }
        }
    }


}